$font-stack--headings: 'Scheherazade New', serif;
$font-stack--reading: 'Zen Kaku Gothic New', sans-serif;
$primary-color: #d0bea8;
$back-color: #ccd4d7;
$font-color: #0f3d6a;
//gride -based variables 
$grid--column: 60px;
$grid--gutter: calc($grid--column / 3);
$grid--unit: ($grid--column + $grid--gutter);
//breakpoints
$breakpoint--phone: (5 * $grid--unit);
$breakpoint--desktop: (15 * $grid--unit);
$breakpoint--tablet: (10 * $grid--unit);