$font-stack--headings: 'Scheherazade New', serif;
$font-stack--reading: 'Zen Kaku Gothic New', sans-serif;
$primary-color: #d0bea8;
$back-color: #ccd4d7;
$font-color: #0f3d6a;
/*
$grid--column: 60px;
$grid--gutter: math.div($grid--column, 3);
$breakpoint--phone: (5 * $grid--unit);
$grid--unit: ($grid--column + $grid--gutter);
$breakpoint--desktop: (15 * $grid--unit);
$breakpoint--tablet: (10 * $grid--unit);
*/