@use 'variables' as *;
@use 'reset';

body {
  margin: auto;
  font-family: $font-stack--reading;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--headings;
}

nav {
  ul {
    text-align: center;
    padding-top: 1px;
    position: absolute;
    li {
      display: inline-block;
    }
  }
}
